@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(196, 187, 187);
  font-family: "Merriweather", serif;
}

nav {
  font-weight: bolder;
}

.row {
  margin: 5px 0 5px 0;
}

.card {
  width: 25vw;
  height: 65vh;
  text-transform: capitalize;
  font-weight: bolder;
  border-radius: 1.5em;
  font-size: 80%;
  font-family: "Roboto", sans-serif;
  max-width: 25vw;
  box-shadow: 5px 5px 5px 5px rgb(165, 170, 165);
  padding: 2.5px;
  margin: 2.2%;
  display: inline-block;
}

.card-img-top {
  width: 100%;
  border-radius: 20% 20% 20% 20%;
  height: 60%;
}

.sidebar {
  position: fixed;
  left: 74%;
  bottom: 20%;
  font-weight: bolder;
  max-width: 20vw;
  height: 52vh;
  border-radius: 1.5em;
  font-size: 80%;
  font-family: "Roboto", sans-serif;
}
.most_recent {
  display: block;
  list-style: none;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
